.float-right{
    float: right;
}

.fa-battery-filling{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #5e5e5e;
    position: relative;
  }
  
  .fa-battery-filling span{
    position: absolute;
    top: 7%;
    left: 3%;
    height: 88%;
    border-radius: 4px;
    transition: 250ms ease;
  }
  
  .fa-battery-filling .red{
    background: red;
  }
  .fa-battery-filling .orange{
    background: orange;
  }
  .fa-battery-filling .green{
    background: green;
  }
  
  .battery-level{
    margin-left: 10px;
    font-size: 15px;
  }
  
  .battery-head{
    border-radius: 1px;
    background: #5e5e5e;
    width: 3px;
    height: 15px;
  }