/* drone status wrapper */
.droneStatus-wrapper{
    width: 500;
    height: 505px;
    margin: auto;
    border-radius: 16px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #acabab;
    border-bottom: 6px solid #acabab;

}

.icon-wrapper{
    height:20px;
    width:20px;
    margin-right:5px;
}


