/* mapping */
.mapping-wrapper{
    margin: auto;
    width: 500;
    height: 455px;
    border-radius: 13px;
    padding: 10px;
    transition: height 2s;
    border: 1px solid #acabab;
    border-bottom: 6px solid #acabab; 
}