/* setting wrapper */
.setting-wrapper{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    display: inline-block;
    margin: auto;
    border: 0.5px solid black;
}

.img-wrapper{
    padding-left: 4px;
    padding-top: 10px;
    width:30px;
    height:30px;
}

.logo{
    width: 10%;
    height:100%;
    margin: 5px auto;
}