/* setting wrapper */
.setting-wrapper{
    border-radius: 13px;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #acabab;
    border-bottom: 4px solid #acabab; 
    margin-left: 350px;
    float: right;
}

.img-wrapper{
    padding-left: 4px;
    padding-top: 10px;
    width:30px;
    height:30px;
    margin-left: 6px;
}

.logo{
    width: 15%;
    height:100%;
    margin: 5px 30px;
}