/* side bar box  */
.sidebar-wrapper{
    width: 70%;
    height: 20cm;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 13px;
    border: 1px solid #acabab;
    border-bottom: 6px solid #acabab; 
}

.inventory-item{
    border-radius: 13px;
    border: 1px solid #acabab;
    border-bottom: 6px solid #acabab; 
    margin-top:5px;
}

.img-sideBar{
    width: 150px;
    height:100px;
    margin-bottom: 5px;
}

.search-item-bar{
    background-color: white;
    margin-bottom: 5px;
    padding: 3px 3px 0 3px;
    border-radius: 13px;
    border: 1px solid #acabab;
    border-bottom: 6px solid #acabab; 
}

.search-item{
    width: 200px;
    height:40px;
    padding: 10px 35px 10px 15px;
    font-size: 15px;
    border-radius: 13px;
    border: 1px solid #e5e5e5;
    border-bottom: 4px solid #acabab; 

}

.search-item:focus{
    background-color: rgb(235, 232, 232);
}

.sort-title{
    font-size: 15px;
    display: inline-block;
    margin-top: 3px;
}

.sort-select{
    font-size:15px;
    float:right;
    margin-top: 3px;
}

.calendar{
    font-size: 12px;
}
