.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
    border-bottom: 1px solid #dee2e6 !important;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_profile {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img{
    width: 200px;
    margin: 0 auto;
}

.header_profile img {
    width: 40px;
}

.support-btn{
    display: inline-block;
    background: transparent;
    border: none;
    margin-right: 2%;
}

.support-icon{
    display: inline-block;
    width:30px;
    height:30px;
}